body {
        margin: 0;
        font-family: Roboto , Arial;
        background-color: rgb(97, 82, 62) ;
        background-size: cover ;
        background-position: center;
        overflow: hidden ;
    }

    p {
        padding:  0;
        color :black ; 
        
    }

    .header {
        height: 100px ;
        display: flex ;
        flex-direction: row;
        justify-content: center;
        align-items: center ;
        position: fixed ;
        top : 0 ; 
        right: 0;
        left: 0 ;
        background-color: rgb(97, 82, 62) ;
        margin-right: 70px;




    }
    .header a {
        height: 50px ;
        margin-left: 14px ;
        transition: all 0.4s;
        color :rgb(203, 213, 213) ; 
        font-weight: 600;
        font-size: 19px ;
        background-color: rgb(84, 64, 38);
        border-radius: 12px ;
        text-decoration: none ;
        padding: 10px ;
        font-family: Roboto,Arial ;
        
        
    }

    .header a:hover {
        color : rgb(0, 0, 0) ; 
        font-size: 22px ;
        box-shadow: inset rgba(236, 8, 8,0.3);
    }
    .copyright {
        position: fixed;
        top: 0;
        right: 0;
        color : rgb(0, 0, 0) ; 
        z-index: 101;
        margin-top: 0 ;

    }

    i {
        font-size: 20px ;
    }


    
